<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  {% load static %}
        <link rel="stylesheet" href="{% static 'boostrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
<style>
    body{
    background: url("/static/image/a4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
</style>
</head>
<body >
<nav class="navbar navbar-inverse navbar-fixed-top color">
                <div class="container">
                <div class="navbar-header">
                <a href="#" class="navbar-brand"><i class="fa fa-users"> Student Management project</i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'Home'%}"><i class="fa fa-home"> Home</i></a></li>
                    <li><a href="{% url 'Profile'%}"><i class="fa fa-users"> Details</i></a></li>
                </ul>
                </div>
            </nav>
<br>
<br>
<br>
{% load crispy_forms_tags %}
<div class="container fluid" style="margin-top:50px:"><br>
    <div class="col-md-offset-4 col-md-4 well" >
        <h2 class="text-primary page-header text-center"><i class='fa fa-users'> Registration</i></h2>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-primary btn-block" value="Register">
        </form>

    </div>
</div>

</body>
<script>
    $(document).ready(function(){
        $(".alert").hide(4000);
    });
</script>
</html>

